[main]
ip=0.0.0.0
port=45678
timeout=3

[log]
filename=data/server.log

[email]
recipients=syp@umd.edu
username=burnin.umd.lhb@gmail.com
password=burnin@umd@lhcb
interval=60

[data]
filename=data/raw_data/data.csv
max_size=50 MB
backup_count=9999

[stats]
prefix=data/stats
